@model IEnumerable<CompanyFleetManagementSystem.Models.Trip>
<h2>Моите Рейсове</h2>
<table border="1" style="width:100%">
    <tr><th>Име</th><th>Статус</th><th>Действие</th></tr>
    @foreach (var t in Model)
    {
        <tr>
            <td>@t.Name</td>
            <td>@t.Status</td>
            <td>
                @if (t.Status == CompanyFleetManagementSystem.Models.TripStatus.Waiting)
                {
                    <a asp-action="Start" asp-route-id="@t.Id">Започни</a>
                }
                @if (t.Status == CompanyFleetManagementSystem.Models.TripStatus.InProgress)
                {
                    <a asp-action="Finish" asp-route-id="@t.Id">Приключи</a>
                }
            </td>
        </tr>
    }
</table>