<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Konokono Fleet</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <h1>Konokono Fleet</h1>
    </header>

    <nav>
        <a href="/Trips">Всички рейсове</a>
        <a href="/Trips/MyTrips">Моите рейсове</a>

        <partial name="_LoginPartial" />
    </nav>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>© 2026 - Konokono</p>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>